APP_ENV=dev
APP_NAME=account-service
APP_DEBUG=true

APP_PERSISTENCE_BACKEND=postgres
APP_CACHE_BACKEND=redis
APP_BROKER_BACKEND=rabbitmq

APP_POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/user_service
APP_REDIS_DSN=redis://redis:6379/0
APP_RABBITMQ_DSN=amqp://guest:guest@rabbitmq:5672/

APP_USER_REPO=postgres
